:root {
  --primary-color: hsl(212, 78%, 53%);
  --input-bg: hsl(50, 5%, 90%);
  --input-bg--focus: hsl(50, 5%, 80%);
}

.rangeInput {
  label {
    position: relative;
    bottom: 6px;
    margin-left: 7px;
  }
}

@mixin thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.3);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--primary-color, #408ee7);
  margin-top: 2.3px;
  cursor: ew-resize;
}
@mixin track {
  max-width: 400px;
  height: 29px;
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--input-bg, #ddd);
  border-radius: 15px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  max-width: 400px;
  overflow: hidden;
  width: 400px;
  border-radius: 500px;
  background-color: var(--input-bg, #ddd);
  height: 29px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include thumb;
}

input[type="range"]::-moz-range-thumb {
  @include thumb;
}

input[type="range"]::-ms-thumb {
  @include thumb;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-moz-range-track {
  @include track;
}

input[type="range"]:focus::-moz-range-track {
  background-color: var(--input-bg--focus, #ddd);
}

input[type="range"]:focus::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  @include track;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: var(--input-bg--focus, #ddd);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background-color: var(--input-bg--focus, #ddd);
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background-color: var(--input-bg--focus, #ddd);
}
